.container
    .range
        p.range__value 5000
        .range__range
            .range__border
                .range__progress-bar
                    .range__from
                        span.range__now-value 5 000
                    .range__to
                        span.range__now-value 10 000