.container {
  width: 500px;
  border: 1px solid cyan;
  padding: 10px;
}

.range {
  &__value {
    text-align: end;
    margin-bottom: 20px;
  }

  &__range {
  }

  &__border {
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #fff;
    //margin: 0 4px
  }

  &__progress-bar {
    position: relative;
    height: 6px;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    width: 120px;
    left: 0px;
  }

  &__from,
  &__to {
    width: 1px;
    height: 12px;
    //border: 2px solid #ffffff;
    border-radius: 50%;
    transition: box-shadow 0.25s ease-out;
    box-sizing: content-box;
    z-index: 1;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    cursor: pointer;
    position: absolute;
    top: -5px;

    &:hover {
      /*background: linear-gradient(
        180deg,
        lighten(#6fcf97, 12.5%) 0%,
        lighten(#66d2ea, 12.5%) 100%
      );
      box-shadow: 0px 0px 3px 3px #6fcf97;*/
    }
  }
  &__from {
    left: 0px;
  }
  &__to {
    right: 0px;
  }
  &__now-value {
    position: absolute;
    top: -25px;
    //left: 0;
    
    //min-width: 100%;
    white-space: nowrap;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    border-radius: 4px;
    border: 1px solid rgba(31, 32, 65, 0.25);
  }
}

//**/@at-root
*,
*::before,
*::after {
  box-sizing: border-box
}

html {
  font-family: sans-serif;
  font-size: 1rem;
  color: #444;
}

#root {
  max-width: 450px;
  margin: 2rem auto;
  padding: 0 1rem;
}

form {
  display: flex;
  margin-bottom: 2rem;
}

[type="text"],
button {
  display: inline-block;
  -webkit-appearance: none;
  padding: .5rem 1rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 4px;
}

button {
  cursor: pointer;
  background: #007bff;
  color: white;
  border: 2px solid #007bff;
  margin: 0 .5rem;
}

[type="text"] {
  width: 100%;
}

[type="text"]:active,
[type="text"]:focus {
  outline: 0;
  border: 2px solid #007bff;
}

[type="checkbox"] {
  margin-right: 1rem;
  font-size: 2rem;
}

h1 {
  color: #222;
}

ul {
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  background: #f4f4f4;
  border-radius: 4px;
}

li span {
  display: inline-block;
  padding: .5rem;
  width: 250px;
  border-radius: 4px;
  border: 2px solid transparent;
}

li span:hover {
  background: rgba(179, 215, 255, 0.52);
}

li span:focus {
  outline: 0;
  border: 2px solid #007bff;
  background: rgba(179, 207, 255, 0.52)
}
