.container {
  width: 266px;
  border: 1px solid cyan;
  padding: 10px;
}

.range {
  &__value {
    text-align: end;
    margin-bottom: 20px;
  }

  &__range {
  }

  &__border {
    width: 266px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #fff;
  }

  &__progress-bar {
    position: relative;
    height: 6px;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    width: 120px;
  }

  &__from,
  &__to {
    width: 12px;
    height: 12px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    transition: box-shadow 0.25s ease-out;
    box-sizing: content-box;
    z-index: 1;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    cursor: pointer;
    position: absolute;
    top: -5px;

    &:hover {
      background: linear-gradient(
        180deg,
        lighten(#6fcf97, 12.5%) 0%,
        lighten(#66d2ea, 12.5%) 100%
      );
      box-shadow: 0px 0px 3px 3px #6fcf97;
    }
  }
  &__from {
    left: -6px;
  }
  &__to {
    right: -6px;
  }
  &__now-value {
    position: absolute;
    top: -25px;
    left: -50%;
    //min-width: 100%;
    white-space: nowrap;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    border-radius: 4px;
    border: 1px solid rgba(31, 32, 65, 0.25);
  }
}
