.container {
  width: 500px;
  //border: 1px solid cyan;
  padding: 10px;
}
.range-1{
  margin-left: 50px;
}
.range {
  &__value {
    text-align: end;
    margin-bottom: 20px;
  }

  &__range {
  }

  &__border {
    border: 18px solid rgba(31, 32, 65, 0.25);
    //box-sizing: content-box;
    border-radius: 3px;
    background-color: #fff;
    //width: 200px;
    border-right-width: 5px;
    //margin: 0 4px
  }

  &__progress-bar {
    position: relative;
    height: 6px;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    //min-width: 50px;
    //margin-right: 45px;
    //margin-left: 45px;
    //left: 50px;

  }

  &__from,
  &__to {
    width: 40px;
    height: 12px;
    //border: 2px solid #ffffff;
    //border-radius: 50%;
    transition: box-shadow 0.25s ease-out;
    box-sizing: border-box;
    z-index: 1;
    background: rgba($color: #0e65e956, $alpha: 0.2); //linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    cursor: pointer;
    position: absolute;
    top: -3px;

    &:hover {
      /*background: linear-gradient(
        180deg,
        lighten(#6fcf97, 12.5%) 0%,
        lighten(#66d2ea, 12.5%) 100%
      );*/
      width: 60px;
      box-shadow: 0px 0px 3px 3px #6fcf97;
    }
  }
  &__from {
    left: -20px;
    &:hover {
      left: -30px;
    }
  }
  &__to {
    right: -20px;
    &:hover {
      right: -30px;
    }
  }
  &__now-value {
    position: absolute;
    top: -25px;
    //left: 0;
    padding-left: 3px;
    padding-right: 3px;
    
    //min-width: 100%;
    white-space: nowrap;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    border-radius: 4px;
    border: 1px solid rgba(31, 32, 65, 0.25);
  }
}
