//.container
    .range
        p.range__value 5000
        .range__range
            .range__border
                .range__progress-bar
                    .range__from
                        span.range__now-value.js-value__from 5 000
                    .range__to
                        span.range__now-value.js-value__to 10 000
.container
  .range-1 Range 1
  .range-here Range 2
  .range-3 Range 3
#root